@import "../helpers/variables";
@import "../helpers/placeholder";

#cart {
  padding: 20px 30px;

  .offcanvas-title {
    color: $color-black;
    font-family: $font-cormorant;
    font-size: 30px;
    @include font-weight(heavy);
    line-height: 35px;
  }

  .offcanvas-body {
    .offcanvas-flex_container {
      display: flex;
      img {
        width: 72px;
        height: 72px;
        border: 1px solid $color-placebo;
      }

      .product-name {
        font-size: 12px;
        text-align: start;
        margin-left: 15px;
      }
    }

  }
}