@import "../common/commonstyle";

// Banners
.img-rock {
  height: 497px;
  background-image: url("../../img/banner_8.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 50em) {
    height: 316px;
  }
}


// Hot list section
.earrings-3 {
  background-image: url("../../img/earrings_3.webp");
}

.earrings-6 {
  background-image: url("../../img/earrings_6.webp");
}

.rings-transparent {
  background-image: url("../../img/rings_transparent.webp");
}

.rings-5 {
  background-image: url("../../img/rings_5.webp");
}


// Guarantee section
.icon-world {
  background-image: url("../../img/world.svg");
  @extend .guarantee-icon;
}

.icon-return {
  background-image: url("../../img/return.svg");
  @extend .guarantee-icon;
}

.icon-security {
  background-image: url("../../img/security.svg");
  @extend .guarantee-icon;
}
