html {
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.desktop-device {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: #ffffff;
    margin: 0 24px;
}

.desktop-img {
    display: block;
}

.mobile-device, .mobile-img {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo {
    width: 50px;
}

.title-first {
    font-size: 2rem;
    font-weight: 700;
    color: #4d4e4e;
}

.title-second {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #919999;
}

.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.25rem;
}

.link-style {
    text-decoration: none;
    font-size: 1.250rem;
    color: #000000;
}

/*The first section*/
.first-wrap {
    display: flex;
    align-items: center;
    background-color: #d8d8d8;
}

.img-first_wrap {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}

.img-width {
    width: 100%;
}

.second-block {
    width: 40%;
}

.title-first_wrap {
    font-size: 4rem;
    margin: 0;
    line-height: 1.2;
    color: #4a4a4a;
}

.fs-paragraph {
    font-size: 2.2rem;
    color: #4a4a4a;
    line-height: 1.25;
}

.style-button {
    width: 90%;
    font-size: 1.5625rem;
    color: #ffffff;
    background-color: #4a4a4a;
    border: none;
    padding: 8px 0;
}

/*The second section*/
.second-wrap {
    display: flex;
    background-color: #FFFFFF;
}

.second-block_border {
    width: 40%;
    border-left: 2px solid #e0e2e2;
}

.title-second_wrap {
    font-size: 2.5rem;
    color: #4a4a4a;
    line-height: 1;
    margin: 0 24px;
}

.style-blockquote {
    font-size: 1.750rem;
    font-weight: 300;
    margin: 24px 24px 60px 24px;
}

.style-city {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 32px 24px;
}

.block-wrap_bg {
    display: flex;
    background-color: #d8d8d8;
    padding: 32px 16px;
    margin-bottom: 32px;
}

.block-wrap {
    display: flex;
    margin: 32px 16px;
}

.text-wrap {
    width: 65%;
    margin: auto 0 auto 16px;
}

.fs-header {
    font-size: 2rem;
    color: #4a4a4a;
    margin: 0;
}

.fs-text_paragraph {
    font-size: 1.4375rem;
    font-weight: 300;
    margin: 8px 0;
}

.fs-link {
    font-size: 1.4375rem;
    font-weight: 300;
    color: #5d9be3;
    text-decoration: none;
    margin: 8px 0;
}

.hr-first_line {
    margin: 0;
    color: #e0e2e2;
}

.hr-second_line {
    margin: 0.2rem 0;
    color: #e0e2e2;
}

/*The third section*/

.third-wrap {
    background-color: #eaebec;
}

.learning-title {
    color: #4a4a4a;
    font-size: 48px;
    text-align: center;
    padding-top: 32px;
    margin-top: 0;
    margin-bottom: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 32px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    margin: 0 72px;
}

.small-grid {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.img-grid {
    width: 100%;
}

.subtitle {
    font-size: 2rem;
    color: #4a4a4a;
    margin: 16px 0 16px 16px;
}

.type-course {
    font-size: 1.625rem;
    font-weight: 300;
    color: #767676;
    text-transform: uppercase;
    margin: 8px 0 8px 16px;
}

.type-course_info {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.75;
    color: #767676;
    margin: 8px 16px 24px 16px;
}

/*The fourth section*/
.exhibit-title {
    color: #4a4a4a;
    font-size: 48px;
    text-align: center;
    padding-top: 32px;
    margin: 0;
}

.fourth-block {
    width: 60%;
    margin: 32px 24px;
}

.fourth-block_wrap {
    width: 40%;
    margin: 32px 24px 24px 0;
}

.video-style {
    width: 100%;
    height: auto;
}

.video-subtitle {
    font-size: 2rem;
    color: #4a4a4a;
}

.video-type_course {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.75;
    color: #767676;
    margin: 8px 16px 24px 0;
}

/*Style of footer*/
.style-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #e9ebeb;
    margin: 0 24px;
}

.style-reserve {
    font-size: 1.315rem;
    color: #767676;
}

.footer-list_style {
    list-style: none;
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 970px ) {
    .desktop-device, .hide-block .desktop-img {
        display: none;
    }
    .mobile-device {
        display: flex;
        align-items: center;
        height: 64px;
    }
    .nav-width {
        width: 100%;
    }
    .navbar-mobile_device {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }
    .ic-logo, .ic-campus, .ic-online, .ic-login {
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }
    .ic-logo {
        background-image: url("images/ic-logo.svg");
    }
    .ic-campus {
        background-image: url("images/ic-on-campus.svg");
    }
    .ic-online {
        background-image: url("images/ic-online.svg");
    }
    .ic-login {
        background-image: url("images/ic-login.svg");
    }
    .first-wrap, .second-wrap {
        flex-direction: column;
    }
    .img-first_wrap {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .second-block {
        width: 100%;
        margin: 0;
    }
    .title-first_wrap {
        font-size: 3rem;
        margin: 32px 16px;
    }
    .fs-paragraph {
        font-size: 1.875rem;
        margin: 0 16px 24px 16px;
    }
    .style-button {
        margin: 0 16px 32px 16px;
    }
    .mobile-img {
        display: block;
    }
}