@import 'helpers/variables';
@import 'helpers/placeholder';
@import 'commonstyle';

.desktop-device {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  border-bottom: 1px solid $color-placebo;
  position: relative;
  z-index: 100;

  .logo {
    background: url("../img/logo.jpg") no-repeat center;
    background-size: contain;
    width: 150px;
    height: 70px;
  }

  .style-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .categories {
    .gap-list_categories {
      @extend .style-list;
      @include gap(50px);

      .display-list_style {
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover {
          color: $color-sand;
        }
      }
    }
  }

  .gap-list_icons {
    @extend .style-list;
    @include gap(20px);
    cursor: pointer;
  }

  .nav-menu_mobile {
    display: none;
  }

  .icon-person {
    background-image: url("../img/person.svg");
    @extend .style-icon;
  }

  .icon-like {
    background-image: url("../img/like.svg");
    color: black;
    @extend .style-icon;
  }

  .icon-bag {
    background-image: url("../img/bag.svg");
    @extend .style-icon;

    .amount-item {
      font-size: 11px;
      background-color: $color-black;
      color: $color-white;
      border-radius: 50%;
      position: relative;
      top: -15px;
      left: 17px;
      padding: 2px 6px;
    }
  }
}


// NavBar of the header for mobile
@media only screen and (max-width: 100em) {
  .desktop-device {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 50em) {
  .display-none_mobile {
    display: none;
  }

  .nav-menu_mobile {
    display: block !important;

    .icon-menu {
      width: 20px;
      height: 20px;
      background-image: url("../img/menu.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .offcanvas {
    font-family: Lato, sans-serif;
  }

  .offcanvas-header {
    background: $color-sand;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px 25px;

    .offcanvas-title {
      font-size: 12px;
      letter-spacing: 2px;
      color: $color-white;
      text-transform: uppercase;
    }

    .btn-close {
      width: 16px;
      height: 16px;
      background: url("../img/close.svg");
      background-size: contain;
      padding: 0;
      margin: 0;
    }
  }

  .offcanvas-body {

    .offcanvas-list {
      text-transform: uppercase;
      font-size: 13px;
      color: black;

      &:hover {
        color: $color-sand;
      }
    }
  }
}

