//banners
.img-rock {
  background-image: url("../img/banner_8.webp");
  height: 498px;
  @extend .imgs-block;
}

//categories' imgs
.bracelets {
  background-image: url("../img/banner_1.webp");
  @extend .imgs-block;
}

.charms {
  background-image: url("../img/banner_2.webp");
  @extend .imgs-block;
}

.earrings {
  background-image: url("../img/banner_3.webp");
  @extend .imgs-block;
}

.necklaces {
  background-image: url("../img/banner_4.webp");
  @extend .imgs-block;
}

.rings {
  background-image: url("../img/banner_5.webp");
  @extend .imgs-block;
}


//individual's imgs
.img-magic {
  background-image: url("../img/banner_6.webp");
  @extend .imgs-block;
}

.img-earrings {
  background-image: url("../img/banner_7.webp");
  @extend .imgs-block;
}


//weeks' imgs
.earrings-1 {
  background-image: url("../img/earrings_1.webp");
  @extend .img-weeks;
}

.earrings-2 {
  background-image: url("../img/earrings_2.webp");
  @extend .img-weeks;
}

.rings-1 {
  background-image: url("../img/rings_2.webp");
  @extend .img-weeks;
}

.rings-2 {
  background-image: url("../img/rings_yellow.webp");
  @extend .img-weeks;
}

//hot list
.earrings-3 {
  background-image: url("../img/earrings_3.webp");
  @extend .img-weeks;
}

.earrings-6 {
  background-image: url("../img/earrings_6.webp");
  @extend .img-weeks;
}

.rings-transparent {
  background-image: url("../img/rings_transparent.webp");
  @extend .img-weeks;
}

.rings-5 {
  background-image: url("../img/rings_5.webp");
  @extend .img-weeks;
}

//articles
.post-format {
  background-image: url("../img/banner_12.jpg");
  background-position: top;
  height: 280px;
  @extend .imgs-block;
}

.post-wedding {
  background-image: url("../img/banner_10.png");
  height: 280px;
  @extend .imgs-block;
}

.post-gift {
  background-image: url("../img/banner_11.jpg");
  background-position: center;
  height: 280px;
  @extend .imgs-block;
}