@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Lato:wght@300;400;700&display=swap');
@import 'commonstyle';
@import 'helpers/variables';
@import 'helpers/placeholder';
@import 'header';

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: $font-lato;
}

// slider container
.face-container {
  .slide-style {
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    position: relative;
  }

  .main-icons {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }

  .slide-first {
    background-image: url("../img/slider_1.webp");
    position: relative;
    text-align: center;
    @extend .slide-style;

    .inside-text {
      display: flex;
      align-items: center;
      font-family: $font-cormorant;
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 100px;

      .bg-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $color-white;

        &:hover {
          background-color: $color-sand;
          border-color: $color-sand !important;
          color: $color-white;
          cursor: pointer;
        }
      }

      .large-header {
        line-height: 1.2;
        @include font-weight(medium)
      }

      .explore-button {
        letter-spacing: 5px;
        line-height: 50px;
        text-transform: uppercase;
        border: 2px solid $color-white;
        padding: 0 22px;
        @extend %button;
      }

      .icon-arrow {
        background-image: url("../img/right_arrow.svg");
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
      }

      .arrow-left_circle {
        background-image: url("../img/left_arrow.svg");
        width: 20px;
        height: 20px;
        @extend .main-icons;
      }

      .arrow-right_circle {
        background-image: url("../img/right_arrow.svg");
        width: 20px;
        height: 20px;
        @extend .main-icons;
      }
    }
  }
}

//explore container
.bg-section_explore {
  background-image: url("../img/bg_line.webp");
  padding-bottom: 100px;

  .header-style {
    font-family: $font-cormorant;
    letter-spacing: 5px;
    @extend .style-text;
    filter: unset;
    padding-bottom: 30px;
  }

  .col-banner {
    @extend %col-banner;

    .button-banners {
      @extend %button;
      width: 138px;
      background-color: $color-white;
      line-height: 38px;
      text-align: center;
      border: none;
      position: relative;
      bottom: 20px;
      padding: 0 15px;
      margin: 0 auto;

      a {
        @extend %link;
      }
    }
  }

  .bracelets {
    background-image: url("../img/banner_1.webp");
    @extend .imgs-block;
  }

  .charms {
    background-image: url("../img/banner_2.webp");
    @extend .imgs-block;
  }

  .earrings {
    background-image: url("../img/banner_3.webp");
    @extend .imgs-block;
  }

  .necklaces {
    background-image: url("../img/banner_4.webp");
    @extend .imgs-block;
  }

  .rings {
    background-image: url("../img/banner_5.webp");
    @extend .imgs-block;
  }
}


// two name's container
.border-style {
  padding-bottom: 75px;
  border-bottom: 1px solid $color-placebo;

  .img-magic {
    background-image: url("../img/banner_6.webp");
    @extend .imgs-block;
  }

  .img-earrings {
    background-image: url("../img/banner_7.webp");
    @extend .imgs-block;
  }

  .banner-wrap_info {
    max-width: 470px;
    text-align: center;
    margin: 0 auto;

    .title-banner {
      font-family: $font-cormorant;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 0;
    }

    .info-banner {
      font-size: 14px;
      color: $color-lunar;
      margin-bottom: 20px;
    }
  }

  .col-lg-6 {
    .button-banners {
      @extend %button;
      font-size: 11px;
      background-color: transparent;
      line-height: 35px;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid $color-black;
      padding: 10px 25px;
      margin: 0 auto;
      @extend %link;
    }
  }
}

//week's collection
.under-header_style {
  font-family: $font-cormorant;
  font-size: 2.250rem !important;
  font-weight: 500;
  text-transform: none;
  padding-bottom: 30px;
  @extend .style-text;
}

.img-weeks {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 330px;
}

.col-banner_carousel {
  @extend %col-banner_carousel;

  .flex-links {
    display: flex;
    justify-content: center;
    gap: 10px;

    .button-banners {
      @extend %button;
      width: 45px;
      height: 45px;
      background-color: $color-white;
      line-height: 45px;
      text-align: center;
      border: none;
      position: relative;
      top: 265px;
      padding: 0 15px;

      .icon-bag {
        background-image: url("../img/bag.svg");
        @extend .style-icon;
      }

      .icon-like {
        background-image: url("../img/like.svg");

        a {
          @extend %link;
        }
      }
    }
  }


  .flex-stars {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .icon-star {
      background-image: url("../img/star.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
    }
  }

  .product-price {
    @extend .style-text;
    color: $color-sand;
  }
}

.earrings-1 {
  background-image: url("../img/earrings_1.webp");
  @extend .img-weeks;
}

.earrings-2 {
  background-image: url("../img/earrings_2.webp");
  @extend .img-weeks;
}

.rings-1 {
  background-image: url("../img/rings_2.webp");
  @extend .img-weeks;
}

.rings-2 {
  background-image: url("../img/rings_yellow.webp");
  @extend .img-weeks;
}






