@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Lato:wght@300;400;700&display=swap');
@import 'helpers/variables';
@import 'helpers/placeholder';
@import 'common/commonstyle';


html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: $font-lato;
}


// Bth main style for class "button-banners"
.button-banners {
  @extend .button-banners;
  @extend %button;
  @extend %link;
}


// Explore container
.bg-section_explore {
  background-image: url("../img/bg_line.webp");
  padding-bottom: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 2rem;
}

.grid-area {
  position: relative;

  .categories-button {
    width: 100%;
    letter-spacing: 0;
    background-color: $color-white;
    border: none;
    position: absolute;
    bottom: -15px;
    padding: 5px 0;
    @extend .button-banners;

    .link-style {
      @extend %link;
    }

    &:hover {
      background-color: $color-sand;
    }
  }
}


// Two name's container
.row.utilities {
  justify-content: space-around;
}

.banner-wrap_info {
  max-width: 470px;
  text-align: center;
  margin: 0 auto;

  .title-banner {
    font-family: $font-cormorant;
    font-size: 24px;
    @include font-weight(heavy);
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 0;
  }
}


// Week's collection & Template of products
.grid-area {
  position: relative;

  .blocks-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-style {
      width: 230px;
      height: 130px;
      object-fit: contain;
    }

    .flex-links {
      display: flex;
      justify-content: center;
      position: relative;
      top: 15px;
      gap: 10px;
      margin-bottom: 15px;

      .icon-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: #ffffff;
        cursor: pointer;
        @extend %button;

        .icon-bag {
          background-image: url("../img/bag.svg");
          @extend .style-icon;
        }

        .icon-like {
          background-image: url("../img/like.svg");
          @extend .style-icon;
        }
      }
    }
  }

  .flex-stars {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .icon-star {
      background-image: url("../img/star.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
    }
  }

  .product-price {
    @extend .style-text;
    color: $color-sand;
    margin-bottom: 0.5rem;
  }
}


// Video section
.overtext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
  position: absolute;
  text-align: center;
  font-family: $font-cormorant;
  color: $color-white;
  z-index: 1000;

  .large-header {
    font-size: $space-78;
    color: $color-white;
  }
}

.categories-button {
  @extend %button;
  background-color: $color-white;
  line-height: 35px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  border: none;

  .button-banners {
    border: none;
  }
}

.video-position {
  position: relative;
  top: 0;
  left: 0;

  .video-content {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}


// Hot list
#container_2 .grid-container {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.img-style_template {
  width: 330px;
  height: 330px;
  object-fit: contain;
}

.time-box {
  width: 85%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 2px solid $color-sand;
  position: absolute;
  bottom: 105px;
  right: 27px;
  padding: 3px 20px;
  margin: 0 auto;

  .countdown {
    color: $color-sand;
    @include font-weight(heavy);
  }

  .block-box {
    display: block;
    font-size: 11px;
    @include font-weight(medium);
  }
}

.red-box {
  background-color: $color-red;
  color: $color-white;
  font-size: 13px;
  text-align: center;
  padding: 2px 7px;
}


// Info section
.title-info {
  font-family: "Cormorant Garamond", serif;
  font-size: $space-48_24;
  @include font-weight(heavy);
  margin-top: 40px;
}


// Guarantee section
.bg-section_guarantee {
  background-image: url("../img/line.webp");
}

.block-text_style {
  width: 245px;
  margin: 20px auto;

  .title-icon {
    letter-spacing: 3px;
    @include font-weight(meadium);
    @extend .highlight-text;
  }

  .lorem-text {
    @extend .info-banner;
    text-align: center;
  }
}


// Scroll-up block
.bg-scroll_up {
  background-color: $color-sand;
  height: 45px;
  width: 45px;
  inset: auto 20px 20px auto;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .3s;
}

.up-icon {
  width: 25px;
  height: 25px;
  background-image: url("../img/up_arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  vertical-align: middle;
  border: none;
}


// @media query
@media only screen and (max-width: 60em) {
  .border-style {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 50em) {
  .row.utilities {
    padding: 0 1rem;
    margin: 0;
  }

  .img-rock {
    height: 316px;
  }
}

@media only screen and (max-width: 30em) {
  .blocks-position, .col-padding {
    padding: 0 1rem;
  }
}




