@import '../helpers/variables';
@import '../helpers/placeholder';

//main styles for all blocks
.style-text {
  text-align: center;
  text-transform: uppercase;
  @include font-weight(heavy);
}

.header-style {
  font-family: $font-cormorant;
  font-size: $space-40;
  text-transform: none;
  @extend .style-text;
  filter: unset;
  padding-bottom: 30px;
}

.info-banner {
  font-size: 14px;
  color: $color-lunar;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 2rem;
}

.product-name {
  @extend .style-text;
  margin: 0 0 3px;
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 16px;

  &:hover {
    color: $color-sand;
  }
}

.product-price {
  @extend .style-text;
  color: $color-sand;
  margin-bottom: 0.5rem;
}

.flex-stars {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  .icon-star {
    background-image: url("../../img/star.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}

.img-block {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  width: 273px;
  height: 376px;
  position: relative;
}

.width-container {
  @extend %wrap-container;
}

.highlight-text {
  font-size: 14px;
  @include font-weight(medium);
  @extend .style-text;
}

.large-header {
  line-height: 1.2;
  @include font-weight(medium)
}

.style-icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.guarantee-icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  margin: 0 auto;
}



//Show the correct chapter
.page-highlighter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 2rem;
  @include font-weight(heavy);

  .prev-link {
    color: $color-lunar;

    &:hover {
      color: $color-sand;
    }
  }

  .arrow-backup {
    background-image: url("../../img/right_backup.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 15px;
    margin: 0;
  }
}

//Color block style
.block-color_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .filter-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .color-antique {
    background-color: $color-antique;
  }

  .color-bone {
    background-color: $color-bone;
  }

  .color-chestnut {
    background-color: $color-chesthut;
  }

  .color-eggshell {
    background-color: $color-eggshell;
  }

  .color-gadien {
    background: $color-gadien;
  }

  .color-grullo {
    background-color: $color-grullo;
  }

  .color-pinetree {
    background-color: $color-pinetree;
  }

  //Color for view item
  .color-transparent {
    background-color: $color-transparent;
  }

  .color-slipperystone {
    background-color: $color-slipperystone;
  }

  .color-twinningvine {
    background-color: $color-twinningvine;
  }

  .color-eveningdress {
    background-color: $color-eveningdress;
  }

  .color-haywain {
    background: $color-haywain;
  }

}