html {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: #000000;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    height: 68px;
    border-bottom: 1px solid seashell;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    background-image: url("resources/img-tea-cozy-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 100%;
    opacity: 0.6;
    margin-left: 10px;
}

.navbar {
    flex-shrink: 0;
    text-decoration: underline;
    opacity: 0.6;
    margin: 0 10px 0 0;
}

.navbar .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    position: relative;
    margin: 0 10px 0 0;
    padding-top: 5px;
}

main {
    width: 1200px;
    opacity: 0.6;
    margin: 0 auto;
}

.bg-img {
    background-image: url("resources/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

.highlight-liner {
    background-color: #000000;
    position: relative;
    top: 38%;
    text-align: center;
    padding: 0.5rem 0;
}

.highlight-liner .text-style {
    margin: 1rem;
}

.img-styles {
    width: 300px;
    height: 200px;
}

.title-text, .under-title {
    text-align: center;
}

.flex-container {
    width: 1000px;
    margin: 0 auto;
}

.wrap-imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.title-img {
    margin: 10px 0;
    text-align: center;
}

.bg-img_tea {
    background-image: url("resources/img-locations-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.bg-img_tea .title-text {
    padding-top: 90px;
    margin-bottom: 15px;
}

.bg-img_tea .address-places {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.address-places .address-place {
    width: 300px;
    background-color: #000000;
    text-align: center;
}

.contact-info {
    text-align: center;
}

.fs-footer {
    margin-left: 20px;
    font-size: 16px;
}