body {
    box-sizing: border-box;
    background-color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

header .title-info {
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
}

main .link-container {
    margin-bottom: 2rem;
}

main .link-active {
    font-size: 16px;
    color: Aquamarine;
    text-decoration: underline;
}

section .subtitle-info {
    font-family: "Verdana", sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #FFFFFF;
}

.fs-info {
    font-family: "Verdana", sans-serif;
    font-size: 21px;
    color: gray;
}

.phone-container {
    margin-top: 2rem;
}

.wrap-img {
    width: 60%;
    margin: 0 auto;
}

.img-style {
    width: 100%;
}

footer .style-footer {
    font-size: 16px;
    color: gray;
    text-align: right;
    margin: 4rem 2rem;
}

@media screen and (max-width: 920px){
    header .title-info, section .subtitle-info {
        font-size: 30px;
        margin: 20px
    }
    .fs-info {
        font-size: 16px;
        margin: 20px
    }
    .phone-img {
        width: 50px;
        height: 80px;
    }
    .wrap-img {
        width: 100%;
        margin: 0 auto;
    }
}
