@import 'variables';

@for $j from 1 through 6 {
  .text-#{$j} {
    font-size: 16px *$j;
  }
}

@mixin gap($gap){
  -webkit-gap: $gap;
  -moz-gap: $gap;
  -ms-gap: $gap;
  gap: $gap;
}

@mixin font-weight ($weight) {
  @if $weight == light {
    font-weight: 400;
  }
  @else if $weight == medium {
    font-weight: 500;
  }
  @else if $weight == heavy {
    font-weight: 600;
  }
  @else {
    font-weight: normal;
  }
}

%button {
  background-color: transparent;
  color: $color-white;
  transition: ease all 0.35s;

  &:hover {
    background-color: $color-sand;
    border-color: $color-sand !important;
    color: $color-white;
  }
}

%link {
  font-family: $font-lato;
  font-size: 14px;
  @include font-weight(light);
  text-decoration: none;
  color: $color-black;
}

%wrap-container {
  max-width: 1440px;
  margin: 0 auto;
}

%flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -5px;
}

%col-banner {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 5px;
}

%col-banner_carousel {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}