$color-white: #ffffff;
$color-sand: #cb8161;
$color-solarpower: #f7bc3d;
$color-red: #ff0000;
$color-placebo: #e7e7e7;
$color-jupiter: #e1e1e1;
$color-lunar: #868686;
$color-black: #000000;

$font-cormorant: 'Cormorant Garamond', serif;
$font-lato: 'Lato', sans-serif;