$color-white: #ffffff;
$color-chesthut:#9d443e;
$color-sand: #cb8161;
$color-antique: #d4937d;
$color-bone: #e5d4c2;
$color-eggshell:#f1ead7;
$color-solarpower: #f7bc3d;
$color-red: #ff0000;
$color-placebo: #e7e7e7;
$color-jupiter: #e1e1e1;
$color-titanium: #e4e4e4;
$color-pinball: #d3d3d3;
$color-lunar: #868686;
$color-pinetree: #2c2f1e;
$color-grullo: #a19d80;
$color-gadien: linear-gradient(to bottom, #a19d80 50%,#f1ead7 50%);
$color-black: #000000;

$font-cormorant: 'Cormorant Garamond', serif;
$font-lato: 'Lato', sans-serif;