:root {
    --very-dark: #191923;
    --grey-suit: #8c8c8e;
    --ghost-white: #fafafc;
    --white: #ffffff;
    --yellow: #FFC107;
}

html {
    box-sizing: border-box;
}

body {
    color: var(--grey-suit);
    font-size: 12px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.bg-color {
    background-color: var(--very-dark);
    color: var(--white);
    margin: 2rem 5rem;
}

.wrap-container {
    display: flex;
    flex-direction: row;
}

/*aside*/
.aside-container {
    flex-direction: column;
}
.col.portrait-container {
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    text-align: center;
    padding: 30px;
}
.img-wrap {
    background-image: url("../img/portrait.png");
    background-color: var(--yellow);
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.fs-text {
    font-size: 15px;
    font-weight: 500;
    color: var(--ghost-white);
    text-align: center;
    margin: 10px 0;
}

.fs-sm-text {
    font-size: 10px;
    color: var(--grey-suit);
}

/*icons*/
.icon-download {
    background-image: url("../img/download.svg");
}